<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments :: bootstrap"></th:block>

    <title>Best Of</title>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-8 d-flex flex-column justify-content-center align-items-center">

      <h1>Best of the year by <span th:text="${creator}"></span></h1>
      <div class="w-75">
        <img th:src="@{/image.jpg}" class="img-fluid">
      </div>

      <div class="d-flex flex-row">
          <a class="mx-5" th:href="@{/songs}">Canzoni</a>
          <a class="mx-5" th:href="@{/movies}">Film</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
