<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments :: bootstrap"></th:block>
    <title>Boty Songs</title>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h1>Best movies</h1>
      <ul>
        <li  th:each="movies : ${movies}">
          <a th:href="@{|/movies/${movies.getId()}|}">[[${movies.getTitle()}]]</a>
        </li>
      </ul>
<!--      <h1>Best of the year movies</h1>-->
<!--      <p th:text="${movies}"></p>-->
      <a th:href="@{/}">Home</a>
    </div>
  </div>
</div>
</body>
</html>